<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 550px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
      // Initialize and add the map
      function initMap() {
        // Information of Location
        var location = {lat:42.3601, lng: -71.0589}
        var options = {
          zoom:2,
          center: location
        }

        // The map centered at Location
        var map = new google.maps.Map(
            document.getElementById('map'), options);

        /*
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
        });

        var infoWindow = new google.maps.infoWindow({
          content:'<h1>Lynn Ma</h1>'
        });

        marker.addListener('click', function(){
          infoWindow.open(map, marker);
        });
        */
        var markers = [
          {
            coords:location,
            iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
            content:'<h1>HELLOW WORLD</h1>\n<h2>Tarolas</h2>'
          }
        ];

        // Loop through markers
        for (var i = 0; i < markers.length; i++){
          addMarker(markers[i]);
        }
        // Add Marker function
        function addMarker(props){
          var marker = new google.maps.Marker({
            position:props.coords,
            map:map,
            icon: props.iconImage
          });

          // Check content
          if (props.content){
            var infoWindow = new google.maps.InfoWindow({
              content:props.content
            });
            marker.addListener('mouseover', function(){
              infoWindow.open(map, marker);
            });
            marker.addListener('mouseout', function() {
              infoWindow.close();
            });
          }

        }

      }

    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW9yZgKJUsNAQChayGv6s1K1S7Lf2-Erc&callback=initMap">
    </script>
  </body>
</html>
